html, body, div, span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,
pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,
s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,
li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{
    border:0;
    outline:0;
    font-size:100%;
    margin: 0;
    padding: 0;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
    font: 12px/18px "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
}
.clear  {
	clear: both;
}

html {
	background:url("http://cdn4.kayak.com/v492116/images/background.png") repeat scroll 0 0 #585858;
	color: #999;
}
body {
	background: url("http://cdn1.kayak.com/v492126/images/background-top-shadow.png") repeat-x scroll 0 0 transparent;
	min-height: 300px;
}

.header {
	width:100%
	margin: 0 auto;
	height: 100px;
}

.footer {
	width: 980px;
	margin: 50px auto 10px auto;
}
.footer p {
	text-align: center;
	padding-bottom: 5px;
	font-size: 11px;
}
.logo {
	font-size: 36px;
	padding-top: 40px;
	float: left;
}
.terms {
	list-style-type: none;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 5px;
}
.terms li {
	display:inline-block;
	padding: 0px 5px;
}
.terms li:hover {
	text-decoration: underline;
	cursor: pointer;
}
.header_container {
	width: 980px;
	margin: 0 auto;
}
.progress_step {
	width: 650px;
	height: 60px;
	float: right;
	color: #777;
	margin-top: 20px;
}
.progress_step .step {
	width: 130px;
	height: 60px;
	margin-left: 30px;
	float: left;
}
.progress_step .number {
	font-size: 35px;
	line-height: 60px;
	float: left;
}
.progress_step .text {
	float: left;
	padding-top: 17px;
	padding-left: 5px;
}
.progress_step .text h3{
	font-size: 9px;
	line-height: 9px;
}
.progress_step .text h4{
	font-size: 14px;
}
.progress_step .arrow{
	float: right;
	padding-top: 20px;
	font-size: 20px;
	font-family: "times";
}
.progress-number-active {
	color: #d2801e;
}
.progress-text-active {
	color: #eee;
}

.content {
	width: 980px;
	margin: 0 auto;
	border:1px solid #777;
	box-shadow: 0px 0px 2px #eee;
	min-height: 400px;
	border-radius: 15px;
	background: #eee;
	background-image: url("{{STATIC_URL}}tv2.png");
}


.searchform label       {  width: 80px; float: left;display: block; cursor: pointer; line-height: 20px; padding-bottom: 9px; text-shadow: 0 -1px 0 rgba(0,0,0,.2); }
		.radios     { padding-top: 18px; background: url(divider.png) repeat-x 0 0; }
		.label_check input,
		.label_radio input  { margin-right: 5px; }
		.has-js .label_check,
		.has-js .label_radio    { padding-left: 34px; }
		.has-js .label_radio    { background: url("images/checkbox/radio-off.png") no-repeat; }
		.has-js .label_check    { background: url("images/checkbox/check-off.png") no-repeat; }
		.has-js label.c_on      { background: url("images/checkbox/check-on.png") no-repeat; }
		.has-js label.r_on      { background: url("images/checkbox/radio-on.png") no-repeat; }
		.has-js .label_check input,
		.has-js .label_radio input  { position: absolute; left: -9999px; }

