{% extends "base.html" %}

{% block headerlink%}
<link href="{{STATIC_URL}}findpackage.css" rel="stylesheet" type="text/css" />
<script>
	


</script>
{% endblock %}
{%block step3number%}progress-number-active{%endblock%}
{%block step3text%}progress-text-active{%endblock%}
{% block content %}
<div class="content">
 Results displayed here, 100% GET based using single digit encoding per question in the prefs variable.
 Open all step 4's in a new window
 <a href="/buypackage?pid=1" target="_blank">Package ID 1</a>
</div>
{% endblock %}
	
	
	