{% extends "base.html" %}

{%block step1number%}progress-number-active{%endblock%}
{%block step1text%}progress-text-active{%endblock%}

{% block headerlink %}
	<link href="{{STATIC_URL}}index.css" rel="stylesheet" type="text/css" />
	<script>
		$(document).ready(function() {
			$("#zip").blur(function() {
				if ($(this).val().length === 5) {
					$(this).addClass("success")
					$(this).removeClass("incomplete")
				} else {
					$(this).addClass("incomplete")
					$(this).removeClass("success")
				}
			});
		});
	</script>

	<style>
		.success {
			border: 2px solid green;
		}
		.incomplete {
			border: 2px solid red;
		}
		.partners {
			width: 950px;
			margin: 20px auto;
		}
		.partners img {
			width: 70px;
			margin: 0 15px;
		}
		.check {
			background: red;
		}
		
		.action {
			width: 900px;
			margin: 15px auto 0 auto;
			text-align: center;
		}
		.zipcode {
			width: 150px;
			height: 40px;
			font-size: 24px;
			letter-spacing: 2px;
			margin: 0 auto;
		}
		.searchform .options {
			margin: 15px auto;
			text-align: left;
			width: 315px;
		}
		.searchform label {
			width: 70px;
			font-size: 16px;
		}
		.searchform .submit_container {
			clear: both;
			margin: 20px auto;
			width: 600px;
			text-align: center;
		}
			</style>
{% endblock %}

{% block content %}
	<div class="content">
		<h1>Connect your home and save money</h1>
		<h2> Search, compare, and find the best satellit tv, cable, phone, and internet options in your area.
		Create custom packages and find the best savings.</h2>
		<div class="action">
			<form class="searchform" action="preferences" method="GET">
				<input class="text zipcode" type="text" maxlength="5" name="zipcode" id="zip" placeholder="Zipcode"/>
					<div class="options">
						<label class="label_check" for="checkbox-01"><input name="tv" id="checkbox-01" value="1" type="checkbox" checked /> TV</label>
						<label class="label_check" for="checkbox-02"><input name="phone" id="checkbox-02" value="1" type="checkbox" checked/> Phone</label>
						<label class="label_check" for="checkbox-03"><input name="internet" id="checkbox-03" value="1" type="checkbox" checked/> Internet</label>
					</div>
				<div class="submit_container">
					<input class="submit btn btn-large btn-warning" type="Submit" value="Find Deals"/>
				</div>
			</form>
		</div>
	</div>
	
	<div class="partners">
		<img src="{{STATIC_URL}}images/logo/directv.png"/>
		<img src="{{STATIC_URL}}images/logo/dish.png"/>
		<img src="{{STATIC_URL}}images/logo/comcast.png"/>
		<img src="{{STATIC_URL}}images/logo/verizon.png"/>
		<img src="{{STATIC_URL}}images/logo/cox.png"/>
		<img src="{{STATIC_URL}}images/logo/centurylink.png"/>
		<img src="{{STATIC_URL}}images/logo/charter.png"/>
		<img src="{{STATIC_URL}}images/logo/optimum.png"/>
		<img src="{{STATIC_URL}}images/logo/twc.png"/>
	
	</div>
{% endblock %}