 <!-- 
<div class="preferences">
		<div class="returnhome btn btn-warning"><a href="/">Return Home</a></div>
		<div class="skipquestions btn btn-warning">Continue to Results</div>
		<p class="advice">These questions help customize and form the match score for all the available packages. You are welcome to skip this step. </p>
		<div class="progress progress-info progressbar">
			<div class="bar" style="width:0%"></div>
		</div>
		<div class="question_container">
			<div class="questions">
				<div id="question4" class="question">
				<div class="question_text">What will you primarily use Internet for?</div>
				<div class="answer_container">
					<p id="0_0">a. Frequent video streaming, large-file sharing, web development </p>
					<p id="0_1">b. Frequent use of e-mail, websites, social networks, and online shopping.</p>
					<p id="0_2">c. Mostly just e-mail and occasional web surfing </p>
				</div>
			</div>
				<div id="question5" class="question">
				<div class="question_text">Which of the following best describes what you want in a home phone service?</div>
				<div class="answer_container">
					<p id="1_0"> a. A premium, full-featured system and unlimited calling.</p>
					<p id="1_1"> b. A VOIP phone system to make calls through the web.</p>
					<p id="1_2"> c.	The most cost-effective home phone solution available. </p>
				</div>
			</div>
				<div id="question6" class="question">
					<div class="question_text">In how many rooms do you estimate you’ll need TV?</div>
					<div class="answer_container">
						<p id="2_0"> a. 1 </p>
						<p id="2_1"> b. 2</p>
						<p id="2_2"> c. 3 </p>
						<p id="2_2"> c. 4 </p>
						<p id="2_2"> c. 5 or more </p>
					</div>
				</div>
				<div id="question7" class="question">
					<div class="question_text">In how many of those rooms do you plan to use HD TVs? </div>
					<div class="answer_container">
						<p id="2_0"> a. 1 </p>
						<p id="2_1"> b. 2</p>
						<p id="2_2"> c. 3 </p>
						<p id="2_2"> c. 4 </p>
						<p id="2_2"> c. 5 or more </p>
					</div>
				</div>
				<div id="question8" class="question">
					<div class="question_text">In how many of those rooms do you need DVR (to record live television)?</div>
					<div class="answer_container">
						<p id="2_0"> a. 1 </p>
						<p id="2_1"> b. 2</p>
						<p id="2_2"> c. 3 </p>
						<p id="2_2"> c. 4 </p>
						<p id="2_2"> c. 5 or more </p>
					</div>
				</div>
				<div id="question9" class="question">
					<div class="question_text">Which of the following programming options are important to you?</div>
					<div class="answer_container">
						<input type="checkbox" />Sports
						<input type="checkbox" />Movies
						<input type="checkbox" />International/Bilingual
						<input type="checkbox" />On Demand
						<input type="checkbox" />Adult Entertainment
						
					</div>
				</div>
				<div id="showresults" class="nextbutton"><a class="btn btn-large btn-warning">Show Results</a></div>
			</div>
			<div class="back btn btn-mini"> Last Question </div>
			<div class="forward btn btn-mini"> Next Question </div>
		</div>

	</div>
 -->